# macOS
.DS_Store

# Python
__pycache__/

# Simulation study products
examples/simulation-study/slurm-out/
examples/simulation-study/samples.csv

# tenseqs analysis products
examples/tenseqs/*.jld2
examples/tenseqs/*.json

# BEAST runs
data/*.trees
data/*.log